In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [59]:
df = pd.read_csv('crypto.csv', header=[0, 1], index_col=0, parse_dates=[0])
df.head(2)

Price          close                                                   \
Ticker           ada          btc      doge         eth sol       xrp
Date
2020-01-01  0.033458  7200.174316  0.002033  130.802002 NaN  0.192667
2020-01-02  0.032751  6985.470215  0.002009  127.410179 NaN  0.188043

Price           High                                     ...      Open  \
Ticker           ada          btc      doge         eth  ...      doge
Date                                                     ...
2020-01-01  0.033813  7254.330566  0.002052  132.835358  ...  0.002028
2020-01-02  0.033507  7212.155273  0.002110  130.820038  ...  0.002034

Price                                   volume                         \
Ticker             eth sol       xrp       ada          btc      doge
Date
2020-01-01  129.630661 NaN  0.192912  22948374  18565664997  51180941
2020-01-02  130.820038 NaN  0.192708  20843934  20802083465  65071106

Price
Ticker             eth sol         xrp
Date
2020-01-01  7935230330 NaN  1041134003
2020-01-02  8032709256 NaN  1085351426

[2 rows x 30 columns]

In [60]:
btc = df['close'].btc.dropna().to_frame().copy()
btc.head(2)

                    btc
Date
2020-01-01  7200.174316
2020-01-02  6985.470215

In [61]:
btc.rename(columns={'btc': 'Price'}, inplace=True)
btc.head(2)

                  Price
Date
2020-01-01  7200.174316
2020-01-02  6985.470215

In [62]:
btc['P_lag1'] = btc.shift(1)
btc.head(4)

                  Price       P_lag1
Date
2020-01-01  7200.174316          NaN
2020-01-02  6985.470215  7200.174316
2020-01-03  7344.884277  6985.470215
2020-01-04  7410.656738  7344.884277

In [63]:
btc['P_diff'] = btc.Price - btc['P_lag1']
btc.head(4)

                  Price       P_lag1      P_diff
Date
2020-01-01  7200.174316          NaN         NaN
2020-01-02  6985.470215  7200.174316 -214.704102
2020-01-03  7344.884277  6985.470215  359.414062
2020-01-04  7410.656738  7344.884277   65.772461

In [65]:
btc['Returns'] =( btc.Price/btc['P_lag1'] - 1) * 100
btc.head(4)

                  Price       P_lag1      P_diff   Returns
Date
2020-01-01  7200.174316          NaN         NaN       NaN
2020-01-02  6985.470215  7200.174316 -214.704102 -2.981929
2020-01-03  7344.884277  6985.470215  359.414062  5.145166
2020-01-04  7410.656738  7344.884277   65.772461  0.895487

In [72]:
btc = btc.drop(['P_lag1', 'P_diff'], axis=1).copy()
btc.head(4)

                  Price   Returns
Date
2020-01-01  7200.174316       NaN
2020-01-02  6985.470215 -2.981929
2020-01-03  7344.884277  5.145166
2020-01-04  7410.656738  0.895487

In [75]:
# Ariphmetic mean return -> Reward
mu = btc.Returns.mean()
mu

np.float64(0.183745559320138)

In [76]:
# Standard deviation of reurns -> Risk/Volatility
sigma = btc.Returns.std()
sigma

np.float64(3.3272883325104585)

In [78]:
# Investment multiple -> Ending value of 1 dollar investment
multiple = (btc.Price.iloc[-1] / btc.Price.iloc[0])
multiple

np.float64(11.46484938210521)

In [ ]:
# Compound Annual Grouth Rate (CAGR)

In [80]:
start = btc.index[0]
start

Timestamp('2020-01-01 00:00:00')

In [81]:
end =  btc.index[-1]
end

Timestamp('2025-03-31 00:00:00')

In [82]:
td = end - start
td

Timedelta('1916 days 00:00:00')

In [83]:
td_years = td.days / 365.25
td_years

5.245722108145106

In [85]:
cagr = multiple**(1/td_years) - 1
cagr

np.float64(0.5920217757266091)