#### Day 4: Tuesday, April 29, 2025 – Cleaning Outliers in Crypto Data

In [1]:
import pandas as pd

#### Detect and handle outliers in `volume_eth` (1e12 at row 10) using IQR method.

In [22]:
df_cleaned = pd.read_csv('crypto_market_data.csv')
df_cleaned.head()

,date,close_bnb,close_btc,close_eth,high_bnb,high_btc,high_eth,low_bnb,low_btc,low_eth,open_bnb,open_btc,open_eth,volume_bnb,volume_btc,volume_eth
0,2025-03-30,601.830200,82334.523438,1806.218628,612.789368,83505.000000,1847.570557,594.214355,81573.250000,1769.412720,603.191345,82596.984375,1827.311035,1204098085,14763760943,9854857162
1,2025-03-31,0.000000,82548.914062,1823.479980,608.501099,83870.125000,1852.551392,588.086182,81293.890625,1778.692261,601.830200,82336.062500,1806.316528,1538796118,29004228247,15765030938
2,2025-04-01,611.297119,85169.171875,1905.491455,618.123779,85487.367188,1926.302979,604.754761,82429.359375,1820.350342,605.072815,82551.921875,1823.562378,2091803391,28175650319,1000000000000
3,2025-04-02,590.637573,NaN,1795.313232,611.518188,88466.953125,1951.180298,585.121887,82343.539062,1782.760254,611.297119,85180.609375,1905.484619,1835749587,47584398470,22593742104
4,2025-04-03,592.124451,NaN,1815.637207,609.344666,83909.296875,1844.071045,579.444092,81282.101562,1751.380859,590.637573,82487.476562,1794.976074,2067033502,36852112080,16450974373

#### # Detect outliers in volume_eth Метод IQR считает любое значение ниже Q1 - 1.5 * IQR потенциальным выбросом. Множитель 1.5 — это стандартное значение, используемое в методе IQR для определения порога выбросов.

In [23]:
Q1 = df_cleaned['volume_eth'].quantile(0.25)
Q1

np.float64(11926379867.0)

In [24]:
Q3 = df_cleaned['volume_eth'].quantile(.75)
Q3

np.float64(21379604307.0)

In [25]:
# IQR означает межквартильный размах (Interquartile Range), который равен разнице между 
# третьим квартилем (Q3) и первым квартилем (Q1).

IQR = Q3 - Q1
IQR

np.float64(9453224440.0)

In [26]:
# Эта строка вычисляет нижнюю границу для определения выбросов.
# Метод IQR считает любое значение ниже Q1 - 1.5 * IQR потенциальным выбросом
# Множитель 1.5 — это стандартное значение, используемое в методе IQR для определения порога выбросов.

lower_bound = Q1 - 1.5 * IQR
lower_bound

np.float64(-2253456793.0)

In [27]:
upper_bound = Q3 + 1.5 * IQR
upper_bound

np.float64(35559440967.0)

In [28]:
outliers = (df_cleaned["volume_eth"] < lower_bound) | (df_cleaned["volume_eth"] > upper_bound)
print("Outliers in volume_eth:\n", df_cleaned[outliers][["date", "volume_eth"]])

Outliers in volume_eth:
           date     volume_eth
2   2025-04-01  1000000000000
8   2025-04-07    46073959047
10  2025-04-09    39252195855

#### Replace with median

In [29]:
df_cleaned_replaced = df_cleaned.copy()
df_cleaned_replaced.head()

,date,close_bnb,close_btc,close_eth,high_bnb,high_btc,high_eth,low_bnb,low_btc,low_eth,open_bnb,open_btc,open_eth,volume_bnb,volume_btc,volume_eth
0,2025-03-30,601.830200,82334.523438,1806.218628,612.789368,83505.000000,1847.570557,594.214355,81573.250000,1769.412720,603.191345,82596.984375,1827.311035,1204098085,14763760943,9854857162
1,2025-03-31,0.000000,82548.914062,1823.479980,608.501099,83870.125000,1852.551392,588.086182,81293.890625,1778.692261,601.830200,82336.062500,1806.316528,1538796118,29004228247,15765030938
2,2025-04-01,611.297119,85169.171875,1905.491455,618.123779,85487.367188,1926.302979,604.754761,82429.359375,1820.350342,605.072815,82551.921875,1823.562378,2091803391,28175650319,1000000000000
3,2025-04-02,590.637573,NaN,1795.313232,611.518188,88466.953125,1951.180298,585.121887,82343.539062,1782.760254,611.297119,85180.609375,1905.484619,1835749587,47584398470,22593742104
4,2025-04-03,592.124451,NaN,1815.637207,609.344666,83909.296875,1844.071045,579.444092,81282.101562,1751.380859,590.637573,82487.476562,1794.976074,2067033502,36852112080,16450974373

In [34]:
median_volume = df_cleaned['volume_eth'].median()

# This line replaces the values in the volume_eth column of df_cleaned_replaced with median_volume 
# for all rows where outliers is True.
df_cleaned_replaced.loc[outliers, 'volume_eth'] = median_volume

print("Volume ETH after replacing:\n", df_cleaned_replaced["volume_eth"].describe())

Volume ETH after replacing:
 count    2.900000e+01
mean     1.507802e+10
std      4.919518e+09
min      6.374712e+09
25%      1.192638e+10
50%      1.540379e+10
75%      1.745940e+10
max      2.374792e+10
Name: volume_eth, dtype: float64

#### Apply IQR method to detect outliers in `close_bnb` (0 at row 15).

In [69]:
df = pd.read_csv('crypto_market_data.csv')
df_cleaned = df.copy()

In [70]:
Q1 = df_cleaned['close_bnb'].quantile(.25)
Q1

np.float64(582.8062133789062)

In [71]:
Q3 = df_cleaned['close_bnb'].quantile(.75)
Q3

np.float64(600.1810302734375)

In [72]:
IQR = Q3 - Q1
IQR

np.float64(17.37481689453125)

In [73]:
lower_bound = Q1 - 1.5 * IQR
lower_bound

np.float64(556.7439880371094)

In [74]:
upper_bound = Q3 + 1.5 * IQR
upper_bound

np.float64(626.2432556152344)

In [75]:
outliers = (df_cleaned['close_bnb'] < lower_bound) | (df_cleaned['close_bnb'] > upper_bound)
print("Outliers in close_bnb:\n", df_cleaned[outliers][["date", "close_bnb"]])

Outliers in close_bnb:
          date   close_bnb
1  2025-03-31    0.000000
7  2025-04-06  554.594910
8  2025-04-07  554.483398
9  2025-04-08  553.467407

#### Replace outliers in `close_bnb` with the mean.

In [76]:
mean = df_cleaned['close_bnb'].mean()
mean

np.float64(569.8538292194235)

In [77]:
df_cleaned.loc[outliers, ['close_bnb']] = mean
df_cleaned['close_bnb'].describe()

count     29.000000
mean     591.125195
std       12.921551
min      569.853829
25%      582.806213
50%      591.776794
75%      600.181030
max      618.826965
Name: close_bnb, dtype: float64

#### Compare standard deviation of `volume_eth` before and after outlier removal.

In [78]:
df['close_bnb'].describe()

count     29.000000
mean     569.853829
std      110.722902
min        0.000000
25%      582.806213
50%      591.776794
75%      600.181030
max      618.826965
Name: close_bnb, dtype: float64

#### Mini-Project**: Create a DataFrame with no outliers in `volume_eth` and `close_bnb`, save to `crypto_cleaned.csv`.

In [94]:
df = pd.read_csv('crypto_market_data.csv')
df.head()

,date,close_bnb,close_btc,close_eth,high_bnb,high_btc,high_eth,low_bnb,low_btc,low_eth,open_bnb,open_btc,open_eth,volume_bnb,volume_btc,volume_eth
0,2025-03-30,601.830200,82334.523438,1806.218628,612.789368,83505.000000,1847.570557,594.214355,81573.250000,1769.412720,603.191345,82596.984375,1827.311035,1204098085,14763760943,9854857162
1,2025-03-31,0.000000,82548.914062,1823.479980,608.501099,83870.125000,1852.551392,588.086182,81293.890625,1778.692261,601.830200,82336.062500,1806.316528,1538796118,29004228247,15765030938
2,2025-04-01,611.297119,85169.171875,1905.491455,618.123779,85487.367188,1926.302979,604.754761,82429.359375,1820.350342,605.072815,82551.921875,1823.562378,2091803391,28175650319,1000000000000
3,2025-04-02,590.637573,NaN,1795.313232,611.518188,88466.953125,1951.180298,585.121887,82343.539062,1782.760254,611.297119,85180.609375,1905.484619,1835749587,47584398470,22593742104
4,2025-04-03,592.124451,NaN,1815.637207,609.344666,83909.296875,1844.071045,579.444092,81282.101562,1751.380859,590.637573,82487.476562,1794.976074,2067033502,36852112080,16450974373

In [95]:
df_cleaned = df.copy()
df_cleaned.head()

,date,close_bnb,close_btc,close_eth,high_bnb,high_btc,high_eth,low_bnb,low_btc,low_eth,open_bnb,open_btc,open_eth,volume_bnb,volume_btc,volume_eth
0,2025-03-30,601.830200,82334.523438,1806.218628,612.789368,83505.000000,1847.570557,594.214355,81573.250000,1769.412720,603.191345,82596.984375,1827.311035,1204098085,14763760943,9854857162
1,2025-03-31,0.000000,82548.914062,1823.479980,608.501099,83870.125000,1852.551392,588.086182,81293.890625,1778.692261,601.830200,82336.062500,1806.316528,1538796118,29004228247,15765030938
2,2025-04-01,611.297119,85169.171875,1905.491455,618.123779,85487.367188,1926.302979,604.754761,82429.359375,1820.350342,605.072815,82551.921875,1823.562378,2091803391,28175650319,1000000000000
3,2025-04-02,590.637573,NaN,1795.313232,611.518188,88466.953125,1951.180298,585.121887,82343.539062,1782.760254,611.297119,85180.609375,1905.484619,1835749587,47584398470,22593742104
4,2025-04-03,592.124451,NaN,1815.637207,609.344666,83909.296875,1844.071045,579.444092,81282.101562,1751.380859,590.637573,82487.476562,1794.976074,2067033502,36852112080,16450974373

In [96]:
medians = df_cleaned[['volume_eth', 'close_bnb']].median()
medians['volume_eth']

np.float64(15403785611.0)

#### For volume_eth

In [98]:
Q1 = df['volume_eth'].quantile(.25)
Q1

np.float64(11926379867.0)

In [99]:
Q3 = df['volume_eth'].quantile(.75)
Q3

np.float64(21379604307.0)

In [100]:
IQR = Q3 - Q1
IQR

np.float64(9453224440.0)

In [101]:
lower_bound = Q1 - 1.5 * IQR
lower_bound

np.float64(-2253456793.0)

In [102]:
upper_bound = Q3 + 1.5 * IQR
upper_bound

np.float64(35559440967.0)

In [103]:
outliers = (df['volume_eth'] < lower_bound)  | (df['volume_eth'] > upper_bound)

df_cleaned.loc[outliers, ['volume_eth']] = medians['volume_eth']
df_cleaned['volume_eth'].describe()

count    2.900000e+01
mean     1.507802e+10
std      4.919518e+09
min      6.374712e+09
25%      1.192638e+10
50%      1.540379e+10
75%      1.745940e+10
max      2.374792e+10
Name: volume_eth, dtype: float64

#### For close_bnb

In [107]:
Q1 = df['close_bnb'].quantile(.25)
Q3 = df['close_bnb'].quantile(.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = (df['close_bnb'] < lower_bound) | (df['close_bnb'] > upper_bound)

df_cleaned.loc[outliers, ['close_bnb']] = medians['close_bnb']

df_cleaned['close_bnb'].describe()

count     29.000000
mean     594.149052
std        9.639406
min      577.405945
25%      590.162170
50%      591.776794
75%      600.181030
max      618.826965
Name: close_bnb, dtype: float64