In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('crypto.csv', header=[0, 1], index_col=0, parse_dates=[0])
df.head()

Price          close                                                   \
Ticker           ada          btc      doge         eth sol       xrp
Date
2020-01-01  0.033458  7200.174316  0.002033  130.802002 NaN  0.192667
2020-01-02  0.032751  6985.470215  0.002009  127.410179 NaN  0.188043
2020-01-03  0.034180  7344.884277  0.002145  134.171707 NaN  0.193521
2020-01-04  0.034595  7410.656738  0.002241  135.069366 NaN  0.194355
2020-01-05  0.034721  7411.317383  0.002419  136.276779 NaN  0.195537

Price           High                                     ...      Open  \
Ticker           ada          btc      doge         eth  ...      doge
Date                                                     ...
2020-01-01  0.033813  7254.330566  0.002052  132.835358  ...  0.002028
2020-01-02  0.033507  7212.155273  0.002110  130.820038  ...  0.002034
2020-01-03  0.034427  7413.715332  0.002177  134.554016  ...  0.002008
2020-01-04  0.034685  7427.385742  0.002490  136.052719  ...  0.002144
2020-01-05  0.035356  7544.497070  0.002491  139.410202  ...  0.002240

Price                                   volume                         \
Ticker             eth sol       xrp       ada          btc      doge
Date
2020-01-01  129.630661 NaN  0.192912  22948374  18565664997  51180941
2020-01-02  130.820038 NaN  0.192708  20843934  20802083465  65071106
2020-01-03  127.411263 NaN  0.187948  30162644  28111481032  62619988
2020-01-04  134.168518 NaN  0.193521  29535781  18444271275  94227582
2020-01-05  135.072098 NaN  0.194367  21479178  19725074095  52631740

Price
Ticker              eth sol         xrp
Date
2020-01-01   7935230330 NaN  1041134003
2020-01-02   8032709256 NaN  1085351426
2020-01-03  10476845358 NaN  1270017043
2020-01-04   7430904515 NaN   999331594
2020-01-05   7526675353 NaN  1168067557

[5 rows x 30 columns]

In [5]:
df.columns = ['_'.join(col).strip() for col in df.columns].copy()
df.head()

,close_ada,close_btc,close_doge,close_eth,close_sol,close_xrp,High_ada,High_btc,High_doge,High_eth,...,Open_doge,Open_eth,Open_sol,Open_xrp,volume_ada,volume_btc,volume_doge,volume_eth,volume_sol,volume_xrp
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,0.033458,7200.174316,0.002033,130.802002,NaN,0.192667,0.033813,7254.330566,0.002052,132.835358,...,0.002028,129.630661,NaN,0.192912,22948374,18565664997,51180941,7935230330,NaN,1041134003
2020-01-02,0.032751,6985.470215,0.002009,127.410179,NaN,0.188043,0.033507,7212.155273,0.002110,130.820038,...,0.002034,130.820038,NaN,0.192708,20843934,20802083465,65071106,8032709256,NaN,1085351426
2020-01-03,0.034180,7344.884277,0.002145,134.171707,NaN,0.193521,0.034427,7413.715332,0.002177,134.554016,...,0.002008,127.411263,NaN,0.187948,30162644,28111481032,62619988,10476845358,NaN,1270017043
2020-01-04,0.034595,7410.656738,0.002241,135.069366,NaN,0.194355,0.034685,7427.385742,0.002490,136.052719,...,0.002144,134.168518,NaN,0.193521,29535781,18444271275,94227582,7430904515,NaN,999331594
2020-01-05,0.034721,7411.317383,0.002419,136.276779,NaN,0.195537,0.035356,7544.497070,0.002491,139.410202,...,0.002240,135.072098,NaN,0.194367,21479178,19725074095,52631740,7526675353,NaN,1168067557

In [6]:
df = df.drop_index().copy()

AttributeError: 'DataFrame' object has no attribute 'drop_index'