In [4]:
import yfinance as yf
import pandas as pd

In [5]:
# Define the crypto symbols for major coins
symbols = ["BTC-USD", "ETH-USD", "BNB-USD"]

In [6]:
# Fetch historical data (last 30 days, daily interval)
data = yf.download(symbols, period="30d", interval="1d")

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  3 of 3 completed

In [8]:
# Reset index to make 'Date' a column
data = data.reset_index()

In [9]:
# Flatten the multi-index columns (e.g., 'Close' for each coin)
data.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in data.columns]

In [10]:
# Rename columns for clarity
data = data.rename(columns={
    "Date": "date",
    "Open_BTC-USD": "open_btc",
    "High_BTC-USD": "high_btc",
    "Low_BTC-USD": "low_btc",
    "Close_BTC-USD": "close_btc",
    "Adj Close_BTC-USD": "adj_close_btc",
    "Volume_BTC-USD": "volume_btc",
    "Open_ETH-USD": "open_eth",
    "High_ETH-USD": "high_eth",
    "Low_ETH-USD": "low_eth",
    "Close_ETH-USD": "close_eth",
    "Adj Close_ETH-USD": "adj_close_eth",
    "Volume_ETH-USD": "volume_eth",
    "Open_BNB-USD": "open_bnb",
    "High_BNB-USD": "high_bnb",
    "Low_BNB-USD": "low_bnb",
    "Close_BNB-USD": "close_bnb",
    "Adj Close_BNB-USD": "adj_close_bnb",
    "Volume_BNB-USD": "volume_bnb"
})

In [11]:
# Introduce some missing values and outliers for learning purposes
data.loc[5:7, "close_btc"] = float("nan")
data.loc[10, "volume_eth"] = 1e12  # Outlier
data.loc[15, "close_bnb"] = 0      # Outlier (unrealistic price)

In [12]:
# Save to CSV
data.to_csv("crypto_market_data.csv", index=False)
print("Crypto market data saved to crypto_market_data.csv")

Crypto market data saved to crypto_market_data.csv

What You’ll Learn:

df.shape: Shows the number of rows and columns (should be around 30 rows, 19 columns).
df.head(): Displays the first 5 rows to get a sense of the data.
df.info(): Shows column names, data types, and non-null counts (you’ll notice missing values in close_btc).
df.describe(): Provides summary statistics like mean, min, max, and quartiles for numerical columns.

In [18]:
df = pd.read_csv("crypto_market_data.csv")
df.head()

,index_,Date_,close_bnb,close_btc,close_eth,high_bnb,high_btc,high_eth,low_bnb,low_btc,low_eth,open_bnb,open_btc,open_eth,volume_bnb,volume_btc,volume_eth
0,0,2025-03-28,619.474915,84353.148438,1895.502930,637.241882,87489.859375,2015.454346,615.925110,83557.640625,1863.010620,637.206421,87185.234375,2002.410522,1608298526,34198619509,18160526498
1,1,2025-03-29,603.237854,82597.585938,1827.320312,623.212402,84567.335938,1911.900879,598.218811,81634.140625,1799.200806,619.474609,84352.070312,1895.549683,1367332800,16969396135,12194771785
2,2,2025-03-30,601.830200,82334.523438,1806.218628,612.789368,83505.000000,1847.570557,594.214355,81573.250000,1769.412720,603.191345,82596.984375,1827.311035,1204098085,14763760943,9854857162
3,3,2025-03-31,605.072815,82548.914062,1823.479980,608.501099,83870.125000,1852.551392,588.086182,81293.890625,1778.692261,601.830200,82336.062500,1806.316528,1538796118,29004228247,15765030938
4,4,2025-04-01,611.297119,85169.171875,1905.491455,618.123779,85487.367188,1926.302979,604.754761,82429.359375,1820.350342,605.072815,82551.921875,1823.562378,2091803391,28175650319,15001220420

In [13]:
# Load the dataset
df = pd.read_csv("crypto_market_data.csv")
print("Dataset shape:", df.shape)
print("\nFirst 5 rows:\n", df.head())
print("\nColumn info:\n", df.info())
print("\nBasic statistics:\n", df.describe())

Dataset shape: (30, 17)

First 5 rows:
    index_       Date_   close_bnb     close_btc    close_eth    high_bnb  \
0       0  2025-03-28  619.474915  84353.148438  1895.502930  637.241882
1       1  2025-03-29  603.237854  82597.585938  1827.320312  623.212402
2       2  2025-03-30  601.830200  82334.523438  1806.218628  612.789368
3       3  2025-03-31  605.072815  82548.914062  1823.479980  608.501099
4       4  2025-04-01  611.297119  85169.171875  1905.491455  618.123779

       high_btc     high_eth     low_bnb       low_btc      low_eth  \
0  87489.859375  2015.454346  615.925110  83557.640625  1863.010620
1  84567.335938  1911.900879  598.218811  81634.140625  1799.200806
2  83505.000000  1847.570557  594.214355  81573.250000  1769.412720
3  83870.125000  1852.551392  588.086182  81293.890625  1778.692261
4  85487.367188  1926.302979  604.754761  82429.359375  1820.350342

     open_bnb      open_btc     open_eth  volume_bnb   volume_btc   volume_eth
0  637.206421  87185.234375  2002.410522  1608298526  34198619509  18160526498
1  619.474609  84352.070312  1895.549683  1367332800  16969396135  12194771785
2  603.191345  82596.984375  1827.311035  1204098085  14763760943   9854857162
3  601.830200  82336.062500  1806.316528  1538796118  29004228247  15765030938
4  605.072815  82551.921875  1823.562378  2091803391  28175650319  15001220420
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index_      30 non-null     int64
 1   Date_       30 non-null     object
 2   close_bnb   30 non-null     float64
 3   close_btc   27 non-null     float64
 4   close_eth   30 non-null     float64
 5   high_bnb    30 non-null     float64
 6   high_btc    30 non-null     float64
 7   high_eth    30 non-null     float64
 8   low_bnb     30 non-null     float64
 9   low_btc     30 non-null     float64
 10  low_eth     30 non-null     float64
 11  open_bnb    30 non-null     float64
 12  open_btc    30 non-null     float64
 13  open_eth    30 non-null     float64
 14  volume_bnb  30 non-null     int64
 15  volume_btc  30 non-null     int64
 16  volume_eth  30 non-null     int64
dtypes: float64(12), int64(4), object(1)
memory usage: 4.1+ KB

Column info:
 None

Basic statistics:
           index_   close_bnb     close_btc    close_eth    high_bnb  \
count  30.000000   30.000000     27.000000    30.000000   30.000000
mean   14.500000  571.588279  85111.460938  1691.101998  600.442674
std     8.803408  109.189076   4917.439644   124.104129   15.898016
min     0.000000    0.000000  76271.953125  1472.553101  564.792419
25%     7.250000  583.115280  82585.769531  1583.789825  592.638123
50%    14.500000  591.950623  84353.148438  1655.784302  599.013092
75%    21.750000  601.801605  85230.707031  1803.506012  609.970886
max    29.000000  619.474915  94720.500000  1905.491455  637.241882

           high_btc     high_eth     low_bnb       low_btc      low_eth  \
count     30.000000    30.000000   30.000000     30.000000    30.000000
mean   86503.576042  1749.213863  582.215381  83109.259896  1636.313082
std     4093.044762   122.377288   20.569144   4835.908116   134.691117
min    80823.890625  1587.538574  522.715759  74436.679688  1386.799316
25%    83983.726562  1637.602539  579.493088  81363.730469  1543.205170
50%    85438.675781  1731.748352  586.310028  82898.191406  1585.351074
75%    87224.732422  1833.268616  594.349899  84218.373047  1765.782318
max    95768.390625  2015.454346  615.925110  94048.789062  1863.010620

         open_bnb      open_btc     open_eth    volume_bnb    volume_btc  \
count   30.000000     30.000000    30.000000  3.000000e+01  3.000000e+01
mean   592.619950  84685.354688  1698.200920  1.584528e+09  3.548130e+10
std     18.296655   4393.996344   135.472048  3.517874e+08  1.830213e+10
min    553.467407  76273.562500  1472.601440  1.008300e+09  1.272837e+10
25%    584.115524  82573.728516  1583.663147  1.361499e+09  2.520363e+10
50%    592.548065  83937.687500  1655.851440  1.529763e+09  3.278697e+10
75%    601.801468  85178.341797  1806.228149  1.733542e+09  4.170387e+10
max    637.206421  94708.265625  2002.410522  2.852046e+09  9.126242e+10

         volume_eth
count  3.000000e+01
mean   4.895290e+10
std    1.797414e+11
min    6.374712e+09
25%    1.243994e+10
50%    1.558441e+10
75%    2.052662e+10
max    1.000000e+12