#### Day 2 Week 1

In [21]:
import pandas as pd

In [23]:
df = pd.read_csv('crypto_market_data.csv')
df.head()

,Date_,close_bnb,close_btc,close_eth,high_bnb,high_btc,high_eth,low_bnb,low_btc,low_eth,open_bnb,open_btc,open_eth,volume_bnb,volume_btc,volume_eth
0,2025-03-30,601.830200,82334.523438,1806.218628,612.789368,83505.000000,1847.570557,594.214355,81573.250000,1769.412720,603.191345,82596.984375,1827.311035,1204098085,14763760943,9854857162
1,2025-03-31,0.000000,82548.914062,1823.479980,608.501099,83870.125000,1852.551392,588.086182,81293.890625,1778.692261,601.830200,82336.062500,1806.316528,1538796118,29004228247,15765030938
2,2025-04-01,611.297119,85169.171875,1905.491455,618.123779,85487.367188,1926.302979,604.754761,82429.359375,1820.350342,605.072815,82551.921875,1823.562378,2091803391,28175650319,1000000000000
3,2025-04-02,590.637573,NaN,1795.313232,611.518188,88466.953125,1951.180298,585.121887,82343.539062,1782.760254,611.297119,85180.609375,1905.484619,1835749587,47584398470,22593742104
4,2025-04-03,592.124451,NaN,1815.637207,609.344666,83909.296875,1844.071045,579.444092,81282.101562,1751.380859,590.637573,82487.476562,1794.976074,2067033502,36852112080,16450974373

#### Select closing prices columns

In [ ]:
closing_prices = df[['close_btc', 'close_eth', 'close_bnb']]
closing_prices

In [ ]:
first_4_days = df.iloc[1:5]
first_4_days

#### Filter high volume days for btc

In [ ]:
btc_volume_treshold = df['volume_btc'].quantile(0.75)
high_volume_btc = df[df['volume_btc'] > btc_volume_treshold]
high_volume_btc

In [17]:
btc_threshold = df['volume_btc'].quantile(0.9)

# Complex filtering conditionally with columns selection
high_btc_volume = df.loc[(df['volume_btc'] > btc_threshold) & (df['volume_btc'].notna()), ['volume_btc', 'close_btc']]

# In this case simple filtering -> without columns selection
# high_btc_volume = df[df['volume_btc'] > btc_treshold]

high_btc_volume

    volume_btc     close_btc
1  55899038456  93441.890625

#### . Select `volume_btc` and `volume_eth` columns, print the first 5 rows.

In [ ]:
volume_btc_eth = df[["volume_btc", "volume_eth"]]
first_5_rows = volume_btc_eth.head().reset_index(drop=True)
volume_str = f"BTC: {volume_btc_eth['volume_btc']}\nETH: {volume_btc_eth['volume_eth']}"
print(volume_str)

#### Use `loc` to select rows where `close_btc` > its median (handle `NaN` with `notna()`).

In [20]:
median_close = df['close_btc'].median()
filtered_df = df.loc[(df['close_btc'].notna()) & (df['close_btc'] > median_close)]
filtered_df

,date_,close_bnb,close_btc,close_eth,high_bnb,high_btc,high_eth,low_bnb,low_btc,low_eth,open_bnb,open_btc,open_eth,volume_bnb,volume_btc,volume_eth
2,2025-04-23,605.815002,93699.109375,1796.104248,619.862488,94535.734375,1829.709961,601.954163,91962.960938,1746.924072,618.826965,93427.585938,1757.196533,1834047719,41719568821,1000000000000
6,2025-04-27,599.921265,94228.250000,1808.597290,608.269043,95172.210938,1852.489990,598.159851,93815.500000,1794.670654,607.694458,94662.343750,1821.758911,1514839424,18701733888,12018830336

#### Filter days where `close_btc` increased from the previous day (use `diff()`).

In [ ]:
filtered_days = df[(df['close_btc'].diff() > 0) & (df['close_btc'].notna()) ]
filtered_days

#### **Mini-Project**: Create a DataFrame with days where `volume_btc` > 90th percentile, save to `high_volume_btc.csv`.

In [ ]:
volume_btc_treshould = df['volume_btc'].quantile(0.9)
high_btc_volume = df.loc[df['volume_btc'] > volume_btc_treshould]
df.to_csv("high_btc_volume.csv")
print('Saved to csv file')
high_btc_volume