In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('crypto_market_data.csv')
df.head()

,date,close_bnb,close_btc,close_eth,high_bnb,high_btc,high_eth,low_bnb,low_btc,low_eth,open_bnb,open_btc,open_eth,volume_bnb,volume_btc,volume_eth
0,2025-03-30,601.830200,82334.523438,1806.218628,612.789368,83505.000000,1847.570557,594.214355,81573.250000,1769.412720,603.191345,82596.984375,1827.311035,1204098085,14763760943,9854857162
1,2025-03-31,0.000000,82548.914062,1823.479980,608.501099,83870.125000,1852.551392,588.086182,81293.890625,1778.692261,601.830200,82336.062500,1806.316528,1538796118,29004228247,15765030938
2,2025-04-01,611.297119,85169.171875,1905.491455,618.123779,85487.367188,1926.302979,604.754761,82429.359375,1820.350342,605.072815,82551.921875,1823.562378,2091803391,28175650319,1000000000000
3,2025-04-02,590.637573,NaN,1795.313232,611.518188,88466.953125,1951.180298,585.121887,82343.539062,1782.760254,611.297119,85180.609375,1905.484619,1835749587,47584398470,22593742104
4,2025-04-03,592.124451,NaN,1815.637207,609.344666,83909.296875,1844.071045,579.444092,81282.101562,1751.380859,590.637573,82487.476562,1794.976074,2067033502,36852112080,16450974373

#### Day 3 Detect and handle missing values (`NaN`) in `close_btc`

#### Detect missing values

In [ ]:
df.isna().sum()

#### Fill with mean

In [4]:
df_filled = df.copy()
df_filled.head()

,date,close_bnb,close_btc,close_eth,high_bnb,high_btc,high_eth,low_bnb,low_btc,low_eth,open_bnb,open_btc,open_eth,volume_bnb,volume_btc,volume_eth
0,2025-03-30,601.830200,82334.523438,1806.218628,612.789368,83505.000000,1847.570557,594.214355,81573.250000,1769.412720,603.191345,82596.984375,1827.311035,1204098085,14763760943,9854857162
1,2025-03-31,0.000000,82548.914062,1823.479980,608.501099,83870.125000,1852.551392,588.086182,81293.890625,1778.692261,601.830200,82336.062500,1806.316528,1538796118,29004228247,15765030938
2,2025-04-01,611.297119,85169.171875,1905.491455,618.123779,85487.367188,1926.302979,604.754761,82429.359375,1820.350342,605.072815,82551.921875,1823.562378,2091803391,28175650319,1000000000000
3,2025-04-02,590.637573,NaN,1795.313232,611.518188,88466.953125,1951.180298,585.121887,82343.539062,1782.760254,611.297119,85180.609375,1905.484619,1835749587,47584398470,22593742104
4,2025-04-03,592.124451,NaN,1815.637207,609.344666,83909.296875,1844.071045,579.444092,81282.101562,1751.380859,590.637573,82487.476562,1794.976074,2067033502,36852112080,16450974373

In [ ]:
df_filled['df_filled_mean'] = df_filled['close_btc'].fillna(df['close_btc'].mean())
df_filled[['close_btc', 'df_filled_mean']].head()

#### Interpolate

In [ ]:
df_filled['df_interpolated'] = df_filled['close_btc'].interpolate()
df_filled[['close_btc', 'df_filled_mean', 'df_interpolated']].head()

#### Count missing values in `close_btc` and `close_bnb`.

In [ ]:
df_filled[['close_btc', 'close_bnb']].isna().sum()

#### Fill missing `close_btc` values with the median.

In [ ]:
# Fill some rows with NAN
df_filled.loc[0:3, ['close_bnb']] = float("nan")

In [ ]:
medians = df_filled[['close_btc', 'close_bnb']].median()
# df_filled[['close_btc_na', 'close_bnb_na']] = medians.tolist()
# df_filled[['close_btc', 'close_btc_na', 'close_bnb', 'close_bnb_na']].head()

df_filled['close_btc_na'] = medians['close_btc']
df_filled['close_bnb+na'] = medians['close_bnb']
df_filled[['close_btc', 'close_btc_na', 'close_bnb', 'close_bnb_na']].head()

#### Compare the mean of `close_btc` before and after filling (using `df_filled`)

In [ ]:
df_filled[['close_btc', 'close_btc_na']].mean()

#### Mini-Project**: Create a DataFrame with no missing `close_btc` (use interpolation), 
#### compute average `close_btc` for first vs. second half of the dataset.

In [5]:
df_filled['close_btc_interpolated'] = df_filled['close_btc'].interpolate()

total_rows = len(df_filled)

mid_point = total_rows // 2

first_half = df_filled.iloc[:mid_point]
second_half = df_filled.iloc[mid_point:]

dif = first_half['close_btc_interpolated'].mean() > second_half['close_btc_interpolated'].mean()

dif

np.False_